#about{
    /* background-image: linear-gradient(rgb(252, 235, 235), rgb(138, 138, 147)); */
    /* height: 67vh; */
}

#about h2{
    font-family: 'League Spartan';
}

#aboutcontent{
    background-color: red;
    background-image: url("../../assets/img/background/pr-bg-2.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 600px; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#textAbout, #aboutPhoto{
    background-color: rgb(242, 240, 240);
    border: 1px solid rgb(68, 67, 67);
    border-radius: 12px;
    box-shadow: 3px 8px #747474;
    /* width: 50%; */

    transition: transform .2s; /* Animation */
}
 #aboutPhoto:hover{
    transform: scale(1.1); 
}

#textAbout:hover{
    transform: scale(1.1); 
}

#textAbout{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 133%;
    left: 30%;
    /* transform: translate(-50%, -50%); */
    z-index: 2;
    /* width: 80%; */
    padding: 20px;
    text-align: center;
}

/* #aboutPhoto{
    background-color: peachpuff;
} */


  /* .bg-img{
    background-color: red;
  } */

@media screen and (max-width: 770px){
    #aboutcontent{
        flex-direction: column;
    }

    #textAbout, #aboutPhoto{
        width: 80%;
        margin: auto;
      
    }

    #aboutPhoto{
      margin-top: 10px;
    }


}

@media screen and (max-width: 400px){
    #textAbout, #aboutPhoto{
        width: 85%;
        margin: auto;
        /* background-color: red; */
      
    }
}